# OrfeoNG - Variables de Entorno (Ejemplo)
# Copiar como .env y ajustar valores.
#
# Para repos privados de SkinaTech:
#   BACKEND_REPO=https://aruba.skinatech.com/Orfeo-NG/ng_backend.git

DB_HOST=mysql
DB_PORT=3306
DB_NAME=orfeoNG_db
DB_USER=orfeo
DB_PASS=orfeo123
MYSQL_ROOT_PASSWORD=root_secret_2026

AES_KEY=aegoh3quai3Aijum7cae0theifo_uv
SERVER_URL=http://localhost:64000

BACKEND_REPO=https://github.com/skinatech/orfeong_backend.git
FRONTEND_REPO=https://github.com/skinatech/orfeong_frontend.git
SOCKETS_REPO=https://github.com/skinatech/orfeong_sockets.git
